<div class="container">
    
    <div class="table container">
        <div class="column"><img class="film" src="images/filmreel.png"/></div>
        <div class="column"><h2>Movie Details</h2></div>
        <div class="column"><img class="film" src="images/filmreel2.png" style="float:right;"/></div>
    </div><hr />
    
    <h2>{{ movie.title }}</h2><br/>
        
    <div class="table">
        <div class="column">
            <img class="poster" ng-src="images/{{movie.poster}}.jpg"/>
        </div>
        
        <div class="column">
            <ul class="">
                <li class="movieinfo animated flipInX">Brought to you by: {{ movie.studio }} Studio</li>
                <li class="movieinfo animated flipInX">Directed by : {{ movie.director }}</li>
                <li class="movieinfo animated flipInX">Film Category : {{ movie.genre }}</li>
                <li class="movieinfo animated flipInX">Rating : {{ movie.rating }}</li>
                <li class="movieinfo animated flipInX">Total Domestic Gross : {{ movie.gross | currency }}</li>
            </ul>
        </div>
    </div>
